## Introduction To List

- Lists are ordered, mutable collectiob of items.
- They can contain items of differect data types.

In [75]:
lst = []
print(type(lst))

lst = list()
print(type(lst))

<class 'list'>
<class 'list'>

In [76]:
name = ["Aman", "John", "Alice"]
print(name)

['Aman', 'John', 'Alice']

In [77]:
mixed_list = [1, 2.5, "Hello", True]
print(mixed_list)

[1, 2.5, 'Hello', True]

#### ```Accessing List Items```

In [78]:
fruits = ["apple", "banana", "cherry", "pineapple", "mango", "orange"]

In [79]:
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[2])  # Output: cherry
print(fruits[-1]) # Output: orange
print(fruits[-2]) # Output: mango

apple
banana
cherry
orange
mango

In [80]:
print(fruits[1: ]) 
print(fruits[1:3]) 
print(fruits[-1:])
print(fruits[:4])
print(fruits[-4: ])
print(fruits[:])
print(fruits[-1:2])

['banana', 'cherry', 'pineapple', 'mango', 'orange']
['banana', 'cherry']
['orange']
['apple', 'banana', 'cherry', 'pineapple']
['cherry', 'pineapple', 'mango', 'orange']
['apple', 'banana', 'cherry', 'pineapple', 'mango', 'orange']
[]

#### ```Modifying List Elements```

In [81]:
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry', 'pineapple', 'mango', 'orange']

In [82]:
fruits[1:] = "blackberry"
fruits

['kiwi', 'b', 'l', 'a', 'c', 'k', 'b', 'e', 'r', 'r', 'y']

In [83]:
fruits = ["apple", "banana", "cherry", "pineapple", "mango", "orange"]

#### ```List Methods```

In [84]:
fruits.append("grape")      ## adds an item to the end of the list
print(fruits)

['apple', 'banana', 'cherry', 'pineapple', 'mango', 'orange', 'grape']

In [85]:
fruits.insert(1,"muskmelon")    ## muskmelon is added at index 1 without removing any other elements
print(fruits)

['apple', 'muskmelon', 'banana', 'cherry', 'pineapple', 'mango', 'orange', 'grape']

In [86]:
fruits.remove("cherry") ## removing the first occurence of an item
print(fruits)

['apple', 'muskmelon', 'banana', 'pineapple', 'mango', 'orange', 'grape']

In [87]:
## remove and return the last item
popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

grape
['apple', 'muskmelon', 'banana', 'pineapple', 'mango', 'orange']

In [88]:
index = fruits.index("banana")
print(index)

2

In [89]:
fruits.insert(2, "banana")
print(fruits.count("banana"))   ## counting number of particular element

2

In [90]:
fruits

['apple', 'muskmelon', 'banana', 'banana', 'pineapple', 'mango', 'orange']

In [91]:
fruits.sort()

In [92]:
fruits

['apple', 'banana', 'banana', 'mango', 'muskmelon', 'orange', 'pineapple']

In [93]:
fruits.reverse()
fruits

['pineapple', 'orange', 'muskmelon', 'mango', 'banana', 'banana', 'apple']

In [94]:
fruits.clear()  ## remove all items from list
fruits

[]

#### ```Slicing List```

In [95]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])     ## jumps 2-2 steps
print(numbers[::-1])
print(numbers[::-2])    ## jumps 2-2 step from last

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]

In [96]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

#### ```Iterate with index```

In [97]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

#### ```List Comprehension```

In [98]:
lst = []
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
## Now comprehense the list
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### ```List Comprehension Basic Syntax```

- Basic Syntax
> [expression for item in iterable]


- With Some Conditional Logic
> [expression for item in iterable if condition]

- Nested List Comprehension
> [expression for item in iterable for item2 in iterable2]

In [100]:
### Basic List comprehension
square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [101]:
### List compression with some condition
lst = []
for i in range(10):
    if i%2 == 0:
        lst.append(i)

print(lst)

lst_compress = [num for num in range(10) if num%2==0]
print(lst_compress)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [102]:
### Nested List Comprehension with loops
lst1 = [1, 2, 3]
lst2 = ['a', 'b', 'c', 'd']

pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd']]

In [103]:
### List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lenghts = [len(word) for word in words]
print(lenghts)

[5, 5, 6, 4, 13]

In [104]:
### List comprehension with if else condtion (ternery opeartor style)
numbers = [2, 3, 4, 5 , 6]
even_num = [[num,"even"] if num%2==0 else [num,"odd"] for num in numbers]
print(even_num)

[[2, 'even'], [3, 'odd'], [4, 'even'], [5, 'odd'], [6, 'even']]

In [105]:
### List comprehension with Nested if and else condition
numbers = [0, 1, 2, 3, 4, 5 , 6]
nested_comprehension = [
    "zero" if num==0 else
    "even" if num%2==0 else
    "odd"
    for num in numbers
]

print(nested_comprehension)

['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [106]:
### List comprehension with multiple conditions
numbers =  [2, 3, 4, 5, 7, 10, 12, 14, 15, 18, 20]
multiple_condition_lst_comprehension = [
    [num, "divisible"] if num%5==0 else [num, "not divisble"] for num in numbers if num > 10
]

print(multiple_condition_lst_comprehension)

[[12, 'not divisble'], [14, 'not divisble'], [15, 'divisible'], [18, 'not divisble'], [20, 'divisible']]

#### ```Nested List```

In [ ]:
lst = [[1,2,3,4], 
       [6,7,8,9],
       [1,"Hello",1.14,'A']
      ]
print(lst[0][3])
print(lst[1][0:3])            ## slicing
print(lst[2])

4
[6, 7, 8]
[1, 'Hello', 1.14, 'A']

#### Conclusion
List comprehension are a powerful and concise way to create lists in python. They are syntactically compact and can more replace more varbose looping constructs. Understanding the syntax of list comprehension will help you write cleaner and more efficient Python code. 👍