## Introduction to Tuple
- Tuples are ordered collection of items that are immutable.
- They are similar to lists, but their immutablity makes them different.

In [32]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [33]:
## Tuple class and List class
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [34]:
numbers = tuple([1,2,3,4,5,6])      ## converted List into tuple
print(numbers)

(1, 2, 3, 4, 5, 6)

In [35]:
lst = list((1,2,3,4,5.6))           ## converted tuple into List
print(lst)

[1, 2, 3, 4, 5.6]

In [36]:
mixed_tuple = (1, "Aman", True, 1.244)
print(mixed_tuple)

(1, 'Aman', True, 1.244)

#### ```Accessing Tuple Elements```

In [37]:
numbers

(1, 2, 3, 4, 5, 6)

In [38]:
print(numbers[2])
print(numbers[-1])

3
6

In [39]:
print(numbers[0:4])
print(numbers[::-1])

(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

#### ```Tuple Operations```

In [40]:
## Tuples concatinations
concatinated_tuple = numbers + mixed_tuple
print(concatinated_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Aman', True, 1.244)

In [41]:
mixed_tuple * 3     ## apending mixed tuple 3 times

(1, 'Aman', True, 1.244, 1, 'Aman', True, 1.244, 1, 'Aman', True, 1.244)

In [42]:
numbers * 2         ## apending numbers 2 times

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

#### ```Immutable nature of tuple```

In [43]:
## Tuples are immutable, meaning their element cannot be changed once assigned...
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Aman"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Aman', 3, 4, 5]

In [44]:
tup = (5,6,7,8,9)
print(tup)

(5, 6, 7, 8, 9)

In [ ]:
## try to change the index 0th value
tup[0] = 10
print(tup)

## you cannot change the element of tuple
## for change the tuple value:
###     1) change it to list
###     2) change the value
###     3) again convert into  tuple

TypeError: 'tuple' object does not support item assignment

#### ```Tuple Methods```

In [ ]:
print(tup.count(5))     ## number of count of element 5
print(tup.index(8))     ## index of element 8

1
3

#### ```Packing and Unpacking tuple```

In [ ]:
## packing into a tuple
packed_tup = 1, "Aman", 3.14
print(packed_tup)

(1, 'Aman', 3.14)

In [52]:
## Unpacking a tuple
a, b, c = packed_tup
print(a)
print(b)
print(c)

1
Aman
3.14

In [54]:
## Unpacking with *
numbers = (1,2,3,4,5,6,7,8)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7]
8

#### ```Nested Tuple```

In [55]:
## Tuple inside list
lst = [(1,2,3,4), 
       (6,7,8,9),
       [1,"Hello",1.14,'A']
      ]
print(lst[1][0:3])

(6, 7, 8)

In [58]:
## Tuple inside the tuple
nested_tuple = ((1,2,3,),("a","b","c"),(True,1.032,'r'))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

#### ```Iterating Over Nested Tuple```

In [59]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True 1.032 r

### Conclusion:
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys,. Understanding how to leverage tuples effictively can improve the efficiency and readablity of your Python code. 🤞👍