## Introduction to Dictionaries

- Dictionary are unordered collection of items.
- They store data in key-value pairs.
- Keys must be unique and immutable (e.g strings, numbers, or tuples), while values can be of any tyoe

In [2]:
### ```Creating Dictionary```
empty_dict = {}
print(type(empty_dict))

empty_dict2 = dict();
print(type(empty_dict2))

<class 'dict'>
<class 'dict'>

In [3]:
student = {"name": "Aman",
           "age" : 24,
           "course" : "MCA"}

print(student)
print(type(student))

{'name': 'Aman', 'age': 24, 'course': 'MCA'}
<class 'dict'>

In [ ]:
student = {"name": "Aman",
           "age" : 24,
           "name" : "kumar"}        ## key value replaced with recent value
print(student)

{'name': 'kumar', 'age': 24}

#### ```Accessing Dictionary Elements```

In [11]:
student = {"name": "Aman",
           "age" : 24,
           "course" : "MCA"}

print(student)
print(student["name"])
print(student["age"])
print(student["course"])

## Another way to access key value of dictionary using get() method
print(student.get('name'))
print(student.get("age"))
print(student.get("last_name"))     ## None
print(student.get("last_name","Not Available"))

{'name': 'Aman', 'age': 24, 'course': 'MCA'}
Aman
24
MCA
Aman
24
None
Not Available

#### ```Modifying Dictionary Element```
- Dictionary are mutable
- you can add, update, delete elements

In [ ]:
student = {"name": "Aman",
           "age" : 24,
           "course" : "MCA"}

student["age"] = 25                 ## Update the key value
print(student)
student["address"]  = "India"       ## Add new key value element      
print(student)


del student["course"]               ## deleted the course key value pair
print(student)

{'name': 'Aman', 'age': 25, 'course': 'MCA'}
{'name': 'Aman', 'age': 25, 'course': 'MCA', 'address': 'India'}
{'name': 'Aman', 'age': 25, 'address': 'India'}

#### ```Common Dictionary Method ```

In [ ]:
## Get all keys of dictionary
keys = student.keys()
print(keys)

## Get all value of dictionary
values = student.values()
print(values)

dict_keys(['name', 'age', 'address'])
dict_values(['Aman', 25, 'India'])

In [17]:
items = student.items()     ## get all key value pairs
print(items)

dict_items([('name', 'Aman'), ('age', 25), ('address', 'India')])

#### ```Shallow Copy```

In [ ]:
student = {"name": "Aman1",
           "age" : 24,
           "course" : "MCA"}
print(student)

student_copy = student          ## same memory allocation
print(student_copy)

{'name': 'Aman1', 'age': 24, 'course': 'MCA'}
{'name': 'Aman1', 'age': 24, 'course': 'MCA'}

In [19]:
student["name"] = "Aman2"
print(student)
print(student_copy)

{'name': 'Aman2', 'age': 24, 'course': 'MCA'}
{'name': 'Aman2', 'age': 24, 'course': 'MCA'}

In [ ]:
student_copy1 = student.copy()      ## shallow copy provide another memory allocation
print(student_copy1)
print(student)

{'name': 'Aman2', 'age': 24, 'course': 'MCA'}
{'name': 'Aman2', 'age': 24, 'course': 'MCA'}

In [22]:
## Update student name
student["name"] = "Aman3"
print(student)
print(student_copy1)

{'name': 'Aman3', 'age': 24, 'course': 'MCA'}
{'name': 'Aman2', 'age': 24, 'course': 'MCA'}

#### ```Iterating over dictionary```

In [23]:
## We can use loop to iterate over dictionary keys, values, or items

## Iterate over keys
for key in student.keys():
    print(key)

name
age
course

In [24]:
## Iterate over values
for value in student.values():
    print(value)

Aman3
24
MCA

In [27]:
## Iterate over key -> values pairs
for key,value in student.items():
    print(f"{key}: {value}")

name: Aman3
age: 24
course: MCA

#### ```Nested Dictionaries```

In [30]:
students ={
    "student1" : {
        "name" : "Aman",
        "age" : 22
    },
    "student2" : {
        "name" : "Raj",
        "age" : 25
    }
}

print(students)

{'student1': {'name': 'Aman', 'age': 22}, 'student2': {'name': 'Raj', 'age': 25}}

#### ```Access Nested Dictionary Elements```

In [34]:
print(students["student2"])
print(students["student1"]["name"])
print(students["student2"]["name"])

{'name': 'Raj', 'age': 25}
Aman
Raj

#### ```Iterating over nested dictionary```

In [ ]:
students ={
    "student1" : {              ## key or id
        "name" : "Aman",        ## value or info
        "age" : 22
    },
    "student2" : {
        "name" : "Raj",
        "age" : 25
    }
}

for student_id, student_info in students.items():
    print(f"{student_id} : {student_info}")

student1 : {'name': 'Aman', 'age': 22}
student2 : {'name': 'Raj', 'age': 25}

In [37]:
for student_id, student_info in students.items():
    print(f"{student_id} : {student_info}")
    for key,value in student_info.items():
        print(f"{key} : {value}")

student1 : {'name': 'Aman', 'age': 22}
name : Aman
age : 22
student2 : {'name': 'Raj', 'age': 25}
name : Raj
age : 25

#### ```Dictionary Comprehension```

In [38]:
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [43]:
even = {x:("even" if x%2==0 else "odd") for x in range(20) if x > 1}
print(even)

{2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even', 11: 'odd', 12: 'even', 13: 'odd', 14: 'even', 15: 'odd', 16: 'even', 17: 'odd', 18: 'even', 19: 'odd'}

In [46]:
## Practicle Examples

## Use a dictionary to count the frequency of ele in list
numbers = [1,2,4,5,6,7,4,2,5,6,2,1,4,6,7]
freq = {}
for num in numbers:
    if num in freq:
        freq[num]+=1
    else:
        freq[num] = 1
print(freq)

{1: 2, 2: 3, 4: 3, 5: 2, 6: 3, 7: 2}

#### ```Merge 2 dictionaries```

In [47]:
dict1 = {"a" : 1, "b" : 2}
dict2 = {"c" : 2, "a" : 2}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 2, 'b': 2, 'c': 2}