In [76]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
import pickle

In [77]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [78]:
## Processing the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [79]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [80]:
## Encoding categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [81]:
## One Hot Encoding for 'Geography' column
onehot_encoder_geography = OneHotEncoder(handle_unknown='ignore')
geography_encoded = onehot_encoder_geography.fit_transform(data[['Geography']]).toarray()
geography_encoded_df = pd.DataFrame(geography_encoded, columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
geography_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [82]:
## Combine one-hot encoded columns with the original dataframe
data = pd.concat([data.drop('Geography', axis=1), geography_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [83]:
## Split the data into features and target variable
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [84]:
## Split the data in training and testing stes
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [85]:
## Scaler these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [86]:
## Save the encoders and scaler for future use
with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)

with open('onehot_encoder_geography.pkl', 'wb') as f:
    pickle.dump(onehot_encoder_geography, f)
    
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

#### ANN Regression Model Implementation

In [87]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [88]:
## Build the ANN Model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) ## Output layer for regression
])

## compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 64)                832

 dense_11 (Dense)            (None, 32)                2080

 dense_12 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [89]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

## Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [90]:
## Set up Early Stopping 
early_stopping_callback = EarlyStopping(monitor="val_loss", patience=10, restore_best_weights=True)

In [91]:
## Train the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Generative AI\4-ANN Project Implementation\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Generative AI\4-ANN Project Implementation\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100388.5156 - mae: 100388.5156 - val_loss: 98554.1094 - val_mae: 98554.1094
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99749.0547 - mae: 99749.0547 - val_loss: 97232.4062 - val_mae: 97232.4062
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 97395.9297 - mae: 97395.9297 - val_loss: 93722.0078 - val_mae: 93722.0078
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 92650.2969 - mae: 92650.2969 - val_loss: 87756.5078 - val_mae: 87756.5078
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 85575.8281 - mae: 85575.8281 - val_loss: 79863.9219 - val_mae: 79863.9219
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 77034.5156 - mae: 77034.5156 - val_loss: 71273.4062 - val_mae: 71273.4062
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 68368.6094 - mae: 68368.6094 - val_loss: 63462.4844 - val_mae: 63462.4844
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 60973.2148 - mae: 60973.2148 - val_loss: 57513.8320 - val_mae: 57513.8320
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 55777.5078 - mae: 55777.5078 - val_loss: 53787.3164 - val_mae: 53787.3164
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 52700.1797 - mae: 52700.1797 - val_loss: 51903.9727 - val_mae: 51903.9727
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 51209.8008 - mae: 51209.8008 - val_loss: 51216.4805 - val_mae: 51216.4805
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50617.0781 - mae: 50617.0781 - val_loss: 51001.8906 - val_mae: 51001.8906
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50372.5742 - mae: 50372.5742 - val_loss: 50916.8398 - val_mae: 50916.8398
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50256.6797 - mae: 50256.6797 - val_loss: 50855.5195 - val_mae: 50855.5195
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50178.5391 - mae: 50178.5391 - val_loss: 50804.2773 - val_mae: 50804.2773
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50115.6484 - mae: 50115.6484 - val_loss: 50753.1914 - val_mae: 50753.1914
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50066.6758 - mae: 50066.6758 - val_loss: 50720.0508 - val_mae: 50720.0508
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50018.2656 - mae: 50018.2656 - val_loss: 50674.2305 - val_mae: 50674.2305
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49979.2539 - mae: 49979.2539 - val_loss: 50635.4648 - val_mae: 50635.4648
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49942.5039 - mae: 49942.5039 - val_loss: 50604.7539 - val_mae: 50604.7539
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49913.2031 - mae: 49913.2031 - val_loss: 50589.1328 - val_mae: 50589.1328
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49880.2188 - mae: 49880.2188 - val_loss: 50554.3594 - val_mae: 50554.3594
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49852.8008 - mae: 49852.8008 - val_loss: 50526.5469 - val_mae: 50526.5469
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49829.1172 - mae: 49829.1172 - val_loss: 50504.1523 - val_mae: 50504.1523
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49805.1719 - mae: 49805.1719 - val_loss: 50483.1211 - val_mae: 50483.1211
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49783.9141 - mae: 49783.9141 - val_loss: 50462.9141 - val_mae: 50462.9141
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49763.3711 - mae: 49763.3711 - val_loss: 50449.9414 - val_mae: 50449.9414
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49745.3672 - mae: 49745.3672 - val_loss: 50428.8320 - val_mae: 50428.8320
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49722.6445 - mae: 49722.6445 - val_loss: 50418.4297 - val_mae: 50418.4297
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49708.1328 - mae: 49708.1328 - val_loss: 50412.9375 - val_mae: 50412.9375
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49692.6484 - mae: 49692.6484 - val_loss: 50406.7383 - val_mae: 50406.7383
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49675.1992 - mae: 49675.1992 - val_loss: 50394.3203 - val_mae: 50394.3203
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49659.3945 - mae: 49659.3945 - val_loss: 50383.7461 - val_mae: 50383.7461
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49649.7266 - mae: 49649.7266 - val_loss: 50373.6445 - val_mae: 50373.6445
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49634.2148 - mae: 49634.2148 - val_loss: 50374.0195 - val_mae: 50374.0195
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49623.5664 - mae: 49623.5664 - val_loss: 50359.2344 - val_mae: 50359.2344
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49612.8203 - mae: 49612.8203 - val_loss: 50362.4141 - val_mae: 50362.4141
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49597.8477 - mae: 49597.8477 - val_loss: 50360.1953 - val_mae: 50360.1953
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49587.7227 - mae: 49587.7227 - val_loss: 50351.3945 - val_mae: 50351.3945
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49580.1406 - mae: 49580.1406 - val_loss: 50353.0078 - val_mae: 50353.0078
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 49570.0977 - mae: 49570.0977 - val_loss: 50349.5273 - val_mae: 50349.5273
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49559.8594 - mae: 49559.8594 - val_loss: 50350.2578 - val_mae: 50350.2578
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49555.4492 - mae: 49555.4492 - val_loss: 50335.6445 - val_mae: 50335.6445
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49544.3086 - mae: 49544.3086 - val_loss: 50345.7812 - val_mae: 50345.7812
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49533.0664 - mae: 49533.0664 - val_loss: 50338.3008 - val_mae: 50338.3008
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49525.1875 - mae: 49525.1875 - val_loss: 50355.2031 - val_mae: 50355.2031
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49519.0352 - mae: 49519.0352 - val_loss: 50361.8203 - val_mae: 50361.8203
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49515.3672 - mae: 49515.3672 - val_loss: 50339.7461 - val_mae: 50339.7461
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49502.1055 - mae: 49502.1055 - val_loss: 50348.4023 - val_mae: 50348.4023
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49501.0117 - mae: 49501.0117 - val_loss: 50345.4648 - val_mae: 50345.4648
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49490.2148 - mae: 49490.2148 - val_loss: 50346.0781 - val_mae: 50346.0781
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49487.9805 - mae: 49487.9805 - val_loss: 50342.8945 - val_mae: 50342.8945
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 49478.9922 - mae: 49478.9922 - val_loss: 50326.1211 - val_mae: 50326.1211
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49470.2773 - mae: 49470.2773 - val_loss: 50337.2461 - val_mae: 50337.2461
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 49465.1523 - mae: 49465.1523 - val_loss: 50336.6758 - val_mae: 50336.6758
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49459.3828 - mae: 49459.3828 - val_loss: 50339.0859 - val_mae: 50339.0859
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49456.2539 - mae: 49456.2539 - val_loss: 50356.6680 - val_mae: 50356.6680
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 49449.8438 - mae: 49449.8438 - val_loss: 50337.4570 - val_mae: 50337.4570
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49442.1953 - mae: 49442.1953 - val_loss: 50330.6602 - val_mae: 50330.6602
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49438.5859 - mae: 49438.5859 - val_loss: 50327.0859 - val_mae: 50327.0859
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49431.7305 - mae: 49431.7305 - val_loss: 50336.1523 - val_mae: 50336.1523
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 49429.1367 - mae: 49429.1367 - val_loss: 50330.3594 - val_mae: 50330.3594
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 49425.6523 - mae: 49425.6523 - val_loss: 50331.0977 - val_mae: 50331.0977

In [93]:
%load_ext tensorboard
%tensorboard --logdir regressionlogs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 12312), started 0:00:12 ago. (Use '!kill 12312' to kill it.)

In [94]:
## Evaluate the model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50326.1211 - mae: 50326.1211
Test MAE: 50326.12109375

In [95]:
model.save('salary_regression_model.h5')

d:\Generative AI\4-ANN Project Implementation\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(